@import '../../../assets/variables';

.toolbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;

  &_month {
    width: 130px;
    text-align: center;
    color: $c-intence-text;
    font-weight: 600;
  }

  &_action {
    font-family: inherit;
    background-color: inherit;
    color: $c-red;
    font-weight: 600;
    padding: 16px;
    box-shadow: $border-shadow;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
    transition: box-shadow .7s;
    
    &.prev {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:hover {
        box-shadow: -2px 0px 17px -6px #ED5454;
      }
    }

    &.next {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:hover {
        box-shadow: 2px 0px 17px -6px #ED5454;
      }
    }
  }
}

.calendar {
  padding: 10px;
  border-right: $border;

  &-container {
    padding: 10px;
  }

  &_week, 
  &_header {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
  }

  &_week {
    grid-auto-rows: 120px;
    text-align: right;

    &:last-child {
      border-bottom: $border;
    }
  }

  &_header {
    grid-auto-rows: 50px;
    align-items: center;
    text-align: center;
    color: $c-intence-text;
    
    & > div {
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: bold;
    }
  }


  &_day,
  &_another_month_day {
    padding: 16px;
    border-right: $border;
    border-top: $border;

    &:last-child {
      border-right: 0;
    }
  }

  &_day {
    color: $c-label;
  }

  &_another_month_day {
    color: $c-grey
  }
}
